.modal {
  background-color: $vinerist-blackbackground;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;

  &__section {
    width: 100%;
    height: 100%;
    padding: 12px;
  }

  &__content {
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
  }

  &__img {
    margin-left: 280px;
  }

  &__header {
    padding-top: 25px;
    margin-left: 25px;
  }
  &__header1 {
    padding-top: 25px;
    margin-left: 25px;
    color: $vinerist-pink;
  }

  &__header3 {
    padding-top: 160px;
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
  }
}
